wp-content/uploads
wp-content/cache


*.webp
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.sql

*.pdf
*.ico
*.png
*.jpg
*.jpeg
*.gif
*.mp3
*.mp4
*.avi


*.com
*.class
*.dll
*.exe
*.o
*.so

*.cache


